body {
    margin: 0;
    overflow: hidden;
}

.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
}
  
.nav-link:hover {
    color: #007bff;
}

/* Dark Theme */
.bg-dark {
    background-color: #282c2f !important;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}
  
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

#particle-container {
    background: #282c2f;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.heading {
    text-align: center;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, 50%);
    white-space: nowrap;
    color: white;
}

.social {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
    color: lightskyblue;
}

.social:hover {
    opacity: 0.5;
}
